*{
    font-family:'Source Sans Pro', sans-serif;
    ;
}

.seccion-footer{
    /*  height: 300px; */
     background-color: rgba(26, 72, 107, 0.555);
     
 }
 .seccion-footer-horarios{
     color: aliceblue;
     padding: 20px;
 }