.galeria-item{
    height: 500px;
}
/* .navbar{
    border-color:#B69B58 !important;
    
} */
.carrusel-caption {
    top: 50%;
    left:58%;
    right: auto;
    bottom: auto;
}

.seccion-intro{
    height: 500px;
    max-width: 90%;
}

.contenido-intro{
    margin:30px 50px 30px 10px;
}

.barra-media{
    background-color: rgba(26, 72, 107, 0.555);
}
.seccion-paquetes{
    height: 600px;
}
.seccion-consultorios{
    height: 400px;
    max-width: 90%;
}
.card{
    max-width: 260px;
}